/* reset */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #444444;
  background-color: #04BC74; }

ul {
  padding: 0;
  margin: 0; }

/* mobile styles */
h1 {
  font-weight: bold;
  color: #ffffff;
  text-align: center; }

h3 {
  font-weight: bold;
  color: #000000;
  margin: 5px 0px 0px; }

header {
  margin-bottom: 20px; }

.mainContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 18px 20px 0px; }

.search {
  display: none;
  background-color: #ffffff;
  opacity: 0.5; }

.menu li.search {
  padding: 0px 10px; }

.search input {
  border: none;
  height: 100%;
  box-shadow: none;
  width: 100%;
  font-size: 18px;
  padding: 0; }

.search input:focus {
  box-shadow: none;
  outline: none; }

.post {
  background-color: #ffffff;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.post img {
  width: 100%; }

.post > div {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1; }

.menu li {
  background-color: #ffffff;
  padding: 12px 18px;
  list-style-type: none;
  margin-bottom: 1px; }

.menu li.signIn {
  margin-bottom: 10px; }

.menu {
  display: flex;
  flex-direction: column; }

.menu li:nth-of-type(1) {
  order: 2; }

.menu li:nth-of-type(2) {
  order: 3; }

.menu li:nth-of-type(3) {
  order: 4; }

.menu li:nth-of-type(4) {
  order: 5; }

.menu li.signIn {
  order: 1; }

.meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #666666;
  font-size: 11px;
  flex-grow: 1;
  align-items: flex-end; }

/* tablet styles */
@media all and (min-width: 800px) {
  .mainContainer {
    padding-left: 10px;
    padding-right: 10px; }
  header {
    padding: 0 10px; }
  .search {
    display: block;
    flex-grow: 1; }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .menu li {
    margin-right: 10px;
    margin-bottom: 0px; }
  .menu li.signIn {
    margin-bottom: 0px;
    margin-right: 0px; }
  .menu li:nth-of-type(1) {
    order: 1; }
  .menu li:nth-of-type(2) {
    order: 2; }
  .menu li:nth-of-type(3) {
    order: 3; }
  .menu li:nth-of-type(4) {
    order: 4; }
  .menu li.search {
    order: 5; }
  .menu li.signIn {
    order: 6; }
  .posts {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .posts > div {
    flex-basis: 50%;
    margin: 0 10px; }
  .leftColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .leftColumn > .post {
    flex-grow: 1; }
  .rightColumn > div:last-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 -10px; }
  .rightColumn > div:last-child > div {
    flex-basis: 50%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .rightColumn > div:last-child > div > .post {
    flex-grow: 1; } }

/* desktop styles */
@media all and (min-width: 1000px) {
  .mainContainer {
    width: 1200px; }
  .posts > .leftColumn {
    flex-basis: 25%; }
  .posts > .rightColumn {
    flex-basis: 75%; }
  .rightColumn > div:last-child > div:first-child {
    flex-basis: 65%; }
  .rightColumn > div:last-child > div:last-child {
    flex-basis: 35%; }
  .rightColumn > div:first-child .post {
    flex-direction: row; }
  .rightColumn > div:first-child .post > img {
    order: 1;
    /* max-height: 245px; */ }
  .rightColumn > div:first-child .post > div:first-child {
    order: 2; } }
